# ===================================================================
# Spring Boot configuration for the "prod" profile.
#
# This configuration overrides the application.yml file.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

eureka:
    env: prod
    instance:
        hostname: localhost
        appname: registry
        prefer-ip-address: true
    server:
        # see discussion about enable-self-preservation:
        # https://github.com/jhipster/generator-jhipster/issues/3654
        enable-self-preservation: false
    client:
        fetch-registry: false
        register-with-eureka: false
        service-url:
            defaultZone: http://admin:${security.user.password:admin}@localhost:8761/eureka/

jhipster:
    security:
        authentication:
            jwt:
                secret: d6877ac45344bb624472a12dd83bb6b3b7e63113
                # Token is valid 24 hours
                token-validity-in-seconds: 86400
    metrics: # DropWizard Metrics configuration, used by MetricsConfiguration
        jmx.enabled: true
        spark:
            enabled: false
            host: localhost
            port: 9999
        graphite:
            enabled: false
            host: localhost
            port: 2003
            prefix: catalog
        logs: # Reports Dropwizard metrics in the logs
            enabled: false
            report-frequency: 60 # in seconds
    logging:
        logstash: # Forward logs to logstash over a socket, used by LoggingConfiguration
            enabled: false
            host: localhost
            port: 5000
            queue-size: 512
        spectator-metrics: # Reports Spectator Circuit Breaker metrics in the logs
            enabled: false
            # edit spring.metrics.export.delay-millis to set report frequency

spring:
    profiles:
        active: prod
    devtools:
        restart:
            enabled: false
        livereload:
            enabled: false
    cloud:
        config:
            server:
                native:
                    search-locations: file:./central-config
                git:
                    # sample prod config using the central-directory folder in the jhipster-registry github repos
                    uri: https://github.com/jhipster/jhipster-registry/
                    search-paths: central-config
                prefix: /config

    thymeleaf:
        cache: true

security:
    user:
        name: admin
        password: admin
        role: USER,ADMIN

server:
    compression:
        enabled: true
        mime-types: text/html,text/xml,text/plain,text/css, application/javascript, application/json
        min-response-size: 1024
