<div>
    <div class="head">
        <h2 class="d-inline-block">View Logs</h2>
        <jhi-route-selector class="float-right refresh-left-side"></jhi-route-selector>
    </div>

    <div>
        <div class="to-bottom" *ngIf="logtxt" (click)="scrollToBottom()"><i class="fa fa-arrow-circle-down"></i> Bottom</div>
        <div class="form-group">
            <textarea #logfile readonly class="form-control log-viewer" rows="25">
    {{logtxt}}
            </textarea>
        </div>
        <div class="to-top" *ngIf="logtxt" (click)="scrollToTop()"><i class="fa fa-arrow-circle-up"></i> Top</div>
    </div>
</div>
