<div>
    <h2>
        <span>Spring Cloud Configuration</span>
        <button class="btn btn-primary" (click)="refresh()">
            <span class="fa fa-refresh"></span>
        </button>
    </h2>

    <form name="form" role="form" (ngSubmit)="refresh()">
        <strong>Application: </strong>
        <input type="text" name="application" [(ngModel)]="application" required class="form-control"
               uib-typeahead="app for app in applicationList" typeahead-min-length="0">
        <strong>Profile: </strong>
        <input type="text" name="profile" [(ngModel)]="profile" required class="form-control">
        <p *ngIf="isNative">
            <strong>Git Label: </strong>
            <input type="text" name="label" [(ngModel)]="label" required class="form-control">
        </p>
    </form>

    <div *ngIf="data">
        <h3>Configuration</h3>
        <pre>{{data}}</pre>
    </div>

    <h3>Configuration Source Information</h3>

    <table class="table table-striped ">
        <thead>
        <tr>
            <th>Type</th>
            <th *ngIf="!isNative">Repository URI</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="isNative">
            <td>Native (Local Filesystem)</td>
            <td>{{ nativeSearchLocation }}</td>
        </tr>
        <tr *ngIf="!isNative">
            <td>Git</td>
            <td>{{ gitUri }}</td>
            <td>/{{ gitSearchLocation }}</td>
        </tr>
        </tbody>
    </table>
</div>
