/* ==========================================================================
Rote selector styles
========================================================================== */

.route-selector {
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 0;
    .badge { /* UP, DOWN, ... */
        float: right;
    }
    li.list-group-item { /* routes names */
        word-break: break-all;
        display: block;
    }
}


