/* ==========================================================================
Health page styles
========================================================================== */

#health {
    display: flex;
    flex-flow: column;
}

span.label { /* UP, DOWN, ... */
    float: right;
}

li.list-group-item { /* routes names */
    word-break: break-all;
}
