<div class="modal-header">
    <h4 class="modal-title" id="showHealthLabel">
        <span class="text-capitalize">{{ baseName(currentHealth.name) }}</span>
        {{subSystemName(currentHealth.name)}}
    </h4>
    <button type="button" class="close" (click)="activeModal.dismiss('closed')">&times;</button>
</div>
<div class="modal-body">
    <div *ngIf="currentHealth.details">
        <h4>Properties</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="w-40 text-left">Name</th>
                        <th class="w-60 text-left">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of currentHealth.details | keys">
                        <td class="w-40 text-left">{{entry.key}}</td>
                        <td class="w-60 text-left">{{readableValue(entry.value)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="currentHealth.error">
        <h4>Error</h4>
        <pre>{{currentHealth.error}}</pre>
    </div>
</div>
<div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-secondary float-xs-left" type="button" (click)="activeModal.dismiss('closed')">Done</button>
</div>
