<div>
    <h2>
        Health Checks
        <button class="btn btn-primary" (click)="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </h2>

    <div class="col-md-4" *ngIf="routes">
        <ul class="list-group">
            <li class="list-group-item {{route.active}}" *ngFor="let route of routes" (click)="showRoute(route)">
                {{route.appName}} {{route.serviceId ? '('+route.serviceId+')' : ''}}
                <span class="label" style="float: right;" [ngClass]="getLabelClassRoute(route)">
                    {{route.status}}
                </span>
            </li>
        </ul>
    </div>

    <div class="table-responsive">
        <table id="healthCheck" class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-7">Service Name</th>
                <th class="col-md-2 text-center">Status</th>
                <th class="col-md-2 text-center">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let health of healthData">
                <td><span class="text-capitalize">{{ baseName(health.name) }}</span> {{subSystemName(health.name)}}</td>
                <td class="text-center">
                        <span class="label" [ngClass]="getLabelClass(health.status)">
                            {{health.status}}
                        </span>
                </td>
                <td class="text-center">
                    <a class="hand" (click)="showHealthModal(health)" *ngIf="health.details || health.error">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
