<div>
    <div class="head">
        <h2 class="d-inline-block">Instances history</h2>
        <jhi-refresh-selector class="float-right refresh-left-side"></jhi-refresh-selector>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <ngb-tabset activeId="registered" (tabChange)="beforeChange($event)">
                <ngb-tab id="registered" title="Last registered leases">
                    <template ngbTabContent></template>
                </ngb-tab>
                <ngb-tab id="canceled" title="Last canceled leases">
                    <template ngbTabContent></template>
                </ngb-tab>
            </ngb-tabset>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Instance</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="items">
                    <tr *ngFor="let instance of items">
                        <td>
                            {{instance.key | date:'medium'}}
                        </td>
                        <td>
                            {{instance.value}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
