/* ==========================================================================
Spring cloud configuration page styles
========================================================================== */

.head {
    margin-bottom: 1%;
}

.dropdown-menu {
    right: 0 !important;
    left: initial !important;
}
