<div>
    <h2>
        <span>Instances history</span>
        <button class="btn btn-primary float-right" (click)="refresh()">
            <span class="fa fa-refresh"></span> <span>Refresh</span>
        </button>
    </h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <ngb-tabset activeId="registered" (tabChange)="beforeChange($event)">
                <ngb-tab id="registered" title="Last registered leases">
                    <template ngbTabContent></template>
                </ngb-tab>
                <ngb-tab id="canceled" title="Last canceled leases">
                    <template ngbTabContent></template>
                </ngb-tab>
            </ngb-tabset>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Instance</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="items">
                    <tr *ngFor="let instance of (items | orderBy:'-key')">
                        <td>
                            {{instance.key | date:'medium'}}
                        </td>
                        <td>
                            {{instance.value}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
