<div ngbDropdown placement="bottom-right">
    <button class="btn btn-outline-primary" (click)="manualRefresh()">
        <span class="times-text">Refresh now <i class="fa fa-refresh"></i></span>
    </button>
    <button class="btn btn-outline-primary times" id="refreshMenu" ngbDropdownToggle>
        <i [ngClass]="classTime()" ></i>&nbsp; <span class="times-text">{{getActiveRefreshTime()}}</span>
    </button>
    <div ngbDropdownMenu aria-labelledby="refreshMenu" aria-expanded="true">
        <span class="dropdown-header">Refresh times (in seconds)</span>
        <div *ngFor="let time of refreshTimes">
            <button class="dropdown-item" (click)="setActiveRefreshTime(time);" [ngClass]="stateTime(time)">
                <span *ngIf="time > 0; else disabledTemplate">{{time}}</span>
                <ng-template #disabledTemplate>disabled</ng-template>
            </button>
        </div>
    </div>
</div>
