<div>
    <h2>Eureka Service Registry</h2>
    <p>
        <button type="button" class="btn btn-primary" ng-click="vm.refresh()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;<span>Refresh</span></button>
    </p>

    <h3>Applications</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Instances</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="app in vm.applications">
                <td>{{app.name}}</td>
                <td>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr ng-repeat="infos in app.instanceInfos">
                                <td>
                                    <div ng-repeat="instance in infos.instances">
                                        <a ng-href="{{instance.url}}" target="_blank">{{instance.id}}</a>
                                    </div>
                                </td>
                                <td>{{infos.status}}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
