/* ==========================================================================
Metrics page styles
========================================================================== */

#metrics {
    display: flex;
    flex-flow: column;
}

#garbage div div.col-md-3 {
    text-align: initial;
}

/* ==========================================================================
Routes styles
========================================================================== */
#routes {
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 0;
}

#routes .badge { /* UP, DOWN, ... */
    float: right;
}

li.list-group-item { /* routes names */
    word-break: break-all;
    display: block;
}


/* ==========================================================================
Metrics modal styles
========================================================================== */

span.badge { /* Thread dump modal  */
    vertical-align: initial;
}
